<br>
<div class="component full" 
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  fxLayoutGap="10px">
  <mat-card>
      <mat-card-header>
          <mat-card-title><strong><h1>Register</h1></strong></mat-card-title>
          <mat-card-subtitle>create an account</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <br>

      <mat-card-content>
          <app-form-group
            [config]="formConfig"
            (submit)="formChanged($event)">
          </app-form-group>
  
          <app-form-group
            *ngIf="permissions.role === 'admin'"
            [config]="adminFormConfig"
            (submit)="formChanged($event)">
          </app-form-group>
      </mat-card-content>

      <mat-card-actions fxLayout>
        <button mat-raised-button color="primary" [disabled]="!valid" (click)="registerUser()">
          Register
        </button>

        <button mat-button routerLink="/user/login">login</button>
      </mat-card-actions>
  </mat-card>

</div>