<!-- HEADER -->
<div class="container header" fxLayout>
    <button mat-button (click)="drawer.toggle()">
        <mat-icon matTooltip="open sidebar" *ngIf="drawer.opened === false">menu</mat-icon>
        <mat-icon matTooltip="close sidebar" *ngIf="drawer.opened === true">clear</mat-icon>
    </button>
    <h1 class="center-text">Account Settings | {{ currentView }}</h1>
    <div fxFlex></div>

    <app-form-group [config]="viewSelectForm" (submit)="changeView($event)"></app-form-group>

</div>

<div>
    <mat-drawer-container>
        <!-- SIDE BAR -->
        <mat-drawer #drawer mode="side" opened="false" class="drawer" fxLayout="column">
            <ng-container *ngIf="(view$ | async) === 'READ'">
            </ng-container>
            <ng-container *ngIf="(view$ | async) === 'UPDATE'">
            </ng-container>
        </mat-drawer>

        <!-- MAIN CONTENT -->
        <ng-container *ngIf="(view$ | async) === 'UPDATE CURRENT'">
            <app-update-profile *ngIf="currentView === 'Profile'"
                [profile]="currentProfile$ | async"
                [permissions]="permissions$ | async"
                (update)="updateCurrentProfile($event)">
            </app-update-profile>
        </ng-container>

        <ng-container *ngIf="(view$ | async) === 'READ SELECTED'">
            <app-read-profile *ngIf="currentView === 'Profile'"
                [profile]="selectedProfile$ | async"
                [permissions]="permissions$ | async">
            </app-read-profile>
        </ng-container>

        <ng-container *ngIf="(view$ | async) === 'UPDATE SELECTED'">
            <app-update-profile *ngIf="currentView === 'Profile'"
                [profile]="selectedProfile$ | async"
                [permissions]="permissions$ | async"
                (update)="updateSelectedProfile($event)">
            </app-update-profile>
        </ng-container>

    </mat-drawer-container>
</div>