<!-- Global Material Design Button -->
<button mat-fab class="m-global-master material-button" (click)="addEvent()"><mat-icon>event</mat-icon></button>

<div class="container header" fxLayout>
    <button mat-button (click)="drawer.toggle()">
        <mat-icon matTooltip="open sidebar" *ngIf="drawer.opened === false">menu</mat-icon>
        <mat-icon matTooltip="close sidebar" *ngIf="drawer.opened === true">clear</mat-icon>
    </button>

    <button mat-button (click)="previousMonth()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <button mat-button (click)="picker.open()">
        {{ title }}
    </button>

    <button mat-button (click)="nextMonth()">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    
    <mat-form-field [style.display]="'none'">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker startView='year' touchUi #picker (monthSelected)="changeMonth($event)"></mat-datepicker>
    </mat-form-field>

    <app-form-group [config]="viewSelectForm" (submit)="changeView($event)"></app-form-group>
</div>

<div class="container main">
    <mat-drawer-container>
        <mat-drawer #drawer mode="side" opened="false" class="drawer" fxLayout="column">
                <br>
                <div fxLayout><h2 class="sidebar-title">My Calendars</h2></div>
                
                <mat-divider></mat-divider>
                <br>
                <div *ngFor="let calendar of (calendars$ | async)" fxLayout fxLayoutGap="20px">
                    <mat-checkbox class="checkbox" labelPosition="before" [(ngModel)]="calendar.viewing" (click)="filterByCalendar(calendar)"></mat-checkbox>
                    <p>{{ calendar.name }}</p>
                </div>
        </mat-drawer>

        <ng-container *ngIf="currentView === 'Month'">
            <app-month 
                [events]="events$ | async"
                [calendars]="calendars$ | async"
                [year]="year"
                [month]="month"
                (chosenDay)="chooseDay($event)"
                (chosenEvent)="chooseEvent($event)">
            </app-month>
        </ng-container>

        <ng-container *ngIf="currentView === 'Week'">
            <app-week [tiles]="tiles"
                (chosenDay)="chooseDay($event)"
                (chosenEvent)="chooseEvent($event)">
            </app-week>
        </ng-container>

        <ng-container *ngIf="currentView === 'Day' ">
            <app-day [tiles]="tiles"
                (chosenDay)="chooseDay($event)"
                (chosenEvent)="chooseEvent($event)">
            </app-day>
        </ng-container>
        
    </mat-drawer-container>
</div>