.drawer {
    width: 20%;
}

.title {
    padding-top: 20px;
}

.sidebar-title {
    padding-left: 5px;
}

.material-button {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20%;
}