<div fxLayout fxLayoutAlign="start center" class="global header">

  <button mat-icon-button (click)="onMobileNavToggle()" fxHide.gt-xs>
      <mat-icon *ngIf="(mobileNavState$ | async) === 'hidden'">menu</mat-icon>
      <mat-icon *ngIf="(mobileNavState$ | async) === 'shown'">clear</mat-icon>
  </button>

  



  <div fxFlex></div>

  <a mat-icon-button [matMenuTriggerFor]="featureMenu"><mat-icon>apps</mat-icon></a>
  <a mat-icon-button [matMenuTriggerFor]="userMenu"><mat-icon>person</mat-icon></a>

  

  <!-- User Menu Links -->
  <mat-menu #userMenu
    yPosition="above"
    overlapTrigger="false">
        <app-visitor-nav *ngIf="(userKeys$ | async).includes('visitor')"></app-visitor-nav>
    
        <app-member-nav *ngIf="(userKeys$ | async).includes('customer')"></app-member-nav>

        <app-employee-nav *ngIf="(userKeys$ | async).includes('employee')"></app-employee-nav>
    
        <app-admin-nav *ngIf="(userKeys$ | async).includes('admin')"></app-admin-nav>

        <button *ngIf="(userClearance$ | async) >= 1"
            (click)="onLogout()"
            mat-menu-item>
            Logout
        </button>
  </mat-menu>

  <!-- Feature Menu Links -->
  <mat-menu #featureMenu
    panelClass="feature-menu"
    yPosition="above"
    overlapTrigger="false">
      <app-feature-nav></app-feature-nav>
  </mat-menu>


</div>
<div class="desktop-spacer"></div>


<!-- ===============================MOBILE============================================== -->
<div fxHide
  fxLayout
  fxLayoutAlign="center center"
  class="mobile-header">

    <!-- back button -->
    <button mat-icon-button 
      disabled="{{ !backwardAvailable$ | async}}"
      (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <!-- forward button -->
    <button mat-icon-button
      disabled="{{ !forwardAvailable$ | async }}"
      (click)="onForward()">
        <mat-icon>arrow_forward</mat-icon>
    </button>

    <div fxFlex></div>

    <div fxFlex></div>

    <!-- mobile nav toggle -->

</div>
<!-- <div fxHide.gt-sm class="mobile-spacer"></div> -->
