mat-grid-tile-header {
    display: flex !important;
    align-items: flex;
    height: 20px !important;
    background-color: transparent !important;
    color: black !important;
}

mat-grid-tile {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &:hover {
        background-color: #FAFAFA !important;
        cursor: pointer;
    }

    &.unavailable {
        background-color: #ef9a9a;

        &:hover {
            cursor: not-allowed;
        }
    }
}

.mobile {
    .grid-header {
        height: 5vh;
    }
    
    .grid-main {
        height: 85vh;
        overflow: hidden;
    }
    mat-grid-tile-header {
        text-align: center;
        border: none !important;
        padding: 0px 1px !important;
        font-size: 10px !important;
    }
}

.desktop {
    .grid-header {
        height: 5vh;
    }
    
    .grid-main {
        height: 75vh;
        overflow: hidden;
    }

    mat-grid-tile {
        border: solid 1px #eeeeee;
    }
    
}


.tile-content {
    margin-top: 20%;
    height: 80%;
    overflow: hidden;
    width: 100%;
    margin-right: 2px;
    margin-bottom: 1px;
}
.button {
    width: 100%;
    margin-right: 2px;
    background-color: white;
    border-radius: 2px;
    height: 20px;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.2), 0 3px 5px 0 rgba(0,0,0,.14), 0 1px 9px 0 rgba(0,0,0,.12);
    text-align: center;
}