<div ngClass.lt-sm="mobile" ngClass.gt-xs="desktop">
    <mat-grid-list fxHide.lt-md cols=7 rowHeight="fit" class="grid-header">
        <mat-grid-tile *ngFor="let day of dayAbbreviations"
            [style.border]="'none'"
            [style.borderLeft]="'solid #eeeeee'"
            [style.background]="'white'"
            class="mat-header">
            {{ day }}
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list fxHide.gt-sm cols=7 rowHeight="fit" class="grid-header">
        <mat-grid-tile *ngFor="let day of mobileDayAbbreviations"
            [style.border]="'none'"
            [style.borderLeft]="'solid #eeeeee'"
            [style.background]="'white'"
            class="mat-header">
            {{ day }}
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="7" rowHeight="fit" class="grid-main">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            class="tile"
            fxLayout="column"
            [style.background]="tile.color"
            (click)="onChooseDay(tile)">
            <mat-grid-tile-header>{{ tile.day }}</mat-grid-tile-header>

            <div class="tile-content" fxLayout="column" fxLayoutGap="2px">
                <div *ngFor="let event of tile.events" (click)="onChooseEvent(event)">
                    <div *ngIf="calendarsShowing.includes(event.calendar)"
                        class="button"
                        matRipple
                        [style.backgroundColor]="event.color">
                        <p>{{ event.name }}</p>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>