
<ng-content select="material-button"></ng-content>

<div class="container header" fxLayout>
    <button mat-button (click)="drawer.toggle()">
        <mat-icon matTooltip="open sidebar" *ngIf="drawer.opened === false">menu</mat-icon>
        <mat-icon matTooltip="close sidebar" *ngIf="drawer.opened === true">clear</mat-icon>
    </button>

    <ng-content select=".view-header"></ng-content>

    <app-form-group [config]="viewSelectForm" (submit)="changeView($event)"></app-form-group>
</div>

<div class="container main">
    <mat-drawer-container>
        <mat-drawer #drawer
            mode="side"
            opened="false"
            class="drawer"
            fxLayout="column">
                <ng-content select=".view-sidebar"></ng-content>
        </mat-drawer>

        <ng-content select=".view-main"></ng-content>
        
    </mat-drawer-container>
</div>