<br>
<div fxLayout="row wrap" fxLayoutAlign="center start" class="component main">

  <mat-card *ngIf="profile" >
      <mat-card-header>
          <mat-card-title><strong><h1>Profile</h1></strong></mat-card-title>
          <mat-card-subtitle>Update your Profile Information</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <br>

      <mat-card-content>
          <app-form-group [config]="formConfig" (submit)="formChanged($event)"></app-form-group>
      </mat-card-content>

      <mat-card-actions fxLayout>
        <button mat-raised-button color="primary" [disabled]="!valid" (click)="updateProfile()">
          Update
        </button>
      </mat-card-actions>
  </mat-card>

  <mat-spinner *ngIf="!profile" class="center-text"></mat-spinner>

</div>