<br>
<div class="component main" 
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  fxLayoutGap="10px">
  <mat-card>
      <mat-card-header>
          <mat-card-title><strong><h1>Login</h1></strong></mat-card-title>
          <mat-card-subtitle>login to your account</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <br>

      <mat-card-content>
          <app-form-group [config]="config" (submit)="formChanged($event)"></app-form-group>
      </mat-card-content>

      <mat-card-actions fxLayout>
        <button mat-raised-button color="primary" [disabled]="!valid" (click)="loginUser()">
          Login
        </button>

        <button mat-button routerLink="/user/register">Create account</button>
        <button mat-button routerLink="/user/forgot">Forgot password</button>
      </mat-card-actions>
  </mat-card>

</div>