
<!-- ============================================COMPONENT CONTENT========================================================== -->

<div fxFlex
     fxLayout="column"
     fxLayoutGap="10px"
     class="footer-component"
     fxLayoutAlign="center center">

      <a fxFlex routerlinkActive="active" routerLink="/home">
        <img src="../../../../assets/icons/title-logo.png">
      </a>

      <p>info@redbrookcreations.com</p>

      <p>314-216-1409</p>
      
</div>

<!-- ======================================================================================================================= -->
