<div [@slideInOutAnimation]="mobileNavState$ | async"
     class="mobile-nav m-global-master"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="5px">
        <!-- link list -->
      <div *ngIf="(userKeys$ | async).includes('visitor')" fxLayoutAlign="center center">
            <app-visitor-nav></app-visitor-nav>
      </div>
      
      <div *ngIf="(userKeys$ | async).includes('customer')" fxLayoutAlign="center center">
            <app-member-nav></app-member-nav>
      </div>
      
      <div *ngIf="(userKeys$ | async).includes('admin')" fxLayoutAlign="center center">
            <app-admin-nav></app-admin-nav>
      </div>

      <button
            (click)="onLogout()"
            mat-button>
            Logout
      </button>
</div>