<div class="container header" fxLayoutAlign="center center">
    <h1 class="center-text">Authentication</h1>
</div>

<div class="container main">

    <ng-container *ngIf="(view$ | async) === 'LOGIN'">
        <app-login
        (emailLogin)="emailLogin($event)"
        (anonymousLogin)="anonymoustLogin($event)"
        (oAuthLogin)="oAuthLogin($event)">
        </app-login>
    </ng-container>

    <ng-container *ngIf="(view$ | async) === 'REGISTER'">
        <app-register
        [permissions]="(permissions$ | async)"
        (register)="register($event)">
        </app-register>
    </ng-container>

    <ng-container *ngIf="(view$ | async) === 'FORGOT'">
        <app-forgot
        [emailSent]="emailSent"
        (forgot)="resetForgottenPassword($event)">
        </app-forgot>
    </ng-container>

</div>