.component-header {
    height: 5vh;
    border-bottom: solid #eeeeee;
    border-top: solid #eeeeee
}
.component-main {
    height: 75vh;
    background-color: white;
}

.test {
    background-color: black;
}
.center {
    text-align: center;
}
.day {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;

    height: 11vh;

    &:hover {
        background-color: #FAFAFA !important;
        cursor: pointer;
        border-top: 1px solid black;
        border-bottom: 1px solid black;

    }

    &.unavailable {
        background-color: #ef9a9a;

        &:hover {
            cursor: not-allowed;
        }
    }
}

.time {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 11vh;
    border-bottom: 1px solid  #e2e1e1;
    border-left: 1px solid #eeeeee;

    &:hover {
        background-color: #f0eeee;
        cursor: pointer;
        ::before { 
            font-family: "Material Icons";
            margin-top: 35px;
            content: "add";
            text-align: center;
            display: flex;
            justify-content: center;
            color: rgb(192, 189, 189);
        }
    }

    &.unavailable {
        background-color: #ef9a9a;

        &:hover {
            cursor: not-allowed;
        }
    }
}

.shadow {
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.14), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


.mobile {
    .grid-header {
        height: 5vh;
    }
    
}

.desktop {

}


.tile-content {
    margin-top: 20%;
    height: 80%;
    overflow: hidden;
    width: 100%;
    margin-right: 2px;
    margin-bottom: 1px;
}
.button {
    width: 100%;
    margin-right: 2px;
    background-color: white;
    border-radius: 2px;
    height: 20px;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.2), 0 3px 5px 0 rgba(0,0,0,.14), 0 1px 9px 0 rgba(0,0,0,.12);
    text-align: center;
}