/* Images */
// Note:  size is defined by flex layout.  These classes define the way an image behaves.
// Note:  an image with a text overlay must be placed within a container. The text and image elements must be seperated
// Note: The overlay class can be used with either text or with images.  if you are laying text over an image, use the 'legible' class
// Note:  If it's important to always see the full image, use responsive
// Note:  If the image *must* be/stay a certain size, use static
.image-container {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.image-overlay {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
}

.image-legible {
  background-color: rgba(0,0,0,0.7);
  color: white;
}

.image-static {
  object-fit: cover;
  overflow: hidden;
}

.image-responsive {
  object-fit: contain;
  overflow: hidden;
}