/* ============================== CONTAINER SYSTEM ====================================*/
// GLOBAL CONATINERS.  
/* 
Purpose:
  -layering containers, components, and elements within components
  -Make angular animations easier when bringing elements in and out of the viewport
  -Manage fixed headers and footers
  -Manage navigation overlays on mobile
  -Avoid reliance on angular material components
  -view multiple componenets to the same route without scrolling down

-The CSS within this folder is standard across all RBC Seed based applications

-There are 3 layers:  Global, Componenet, and Sub Component.
  Each container has a Header, Main, and Footer
  Each sub container is located within it's parents Main container

-Each container has the same naming standards.  There are 3 parts.
  First, whether it is mobile or desktop is defined by a 'd' or 'm'
  Next, the container level is defined.  'global', 'component', or 'sub-component'
  lastly, the element type within the container is defined.
    There are 5 element types:  Header, Main, Footer, Overlay, Master
    Header, Main, and Footer are self explanatory.  These all have the same z-index.  Sub containeres default to auto.
    Overlay and Master enter and leave the viewport dynamically.
      Overlay Is a dark, transparent background that makes the master content readable
      Master is whatever content/component that will overlay on top of each container
      
-z-index is used on each specific element type EXCEPT main.
  1:  main content
  2:  header and footer
  3:  overlay
  4:  master

-The viewport is 100vh at all times, there are no fixed elements.
  The header and footer are layered on top of the main content, but are displayed dynamically(usually based on scroll position)

There are 4 Levels of a Single Route:
1:  Global Level:  100vh
2:  Container Level:  90vh OR 100vh
3:  Component Level:  70vh OR 80vh;
4:  Element Level: Element Specific(Normally Flex)

  -The idea is to create everything by a set view hight or 
   view width.
  -If you do this, the elements inside of the component
   will flex to the current viewport width, giving an 
   app-like feel on mobile.

  */


.master {
  position: absolute;
  z-index: 4;
}

// shared styles across desktop/mobile.
.desktop, .mobile {
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  .global {
    &.main {
      position: relative;
      top: 0;
      right: 0;
    }
    &.overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba(0,0,0,0.7);
      z-index: 3;
    }
  }

  .component, .container {

    &.header, &.main, &.footer {
      z-index: 1;
      position: relative;
    }

    &.overlay {
      z-index: 2;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.7);
    }

    &.sidebar {
      z-index: 3;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
}

// Mobile Sizing
.mobile {
  .global {
    &.header { height: 15vh; } // the header will be always showing
    &.main { height: 85vh; }
  }

  .container {
    &.header { 
      display: none;
      position: absolute;
    }
    &.main { height: 85vh; }
    &.overlay { height: 85vh; }
    &.sidebar { // changing the component you wish to view
      width: 100vh;
      height: 85vh;
    }
  }

  .component {
    &.header { height: 10vh; }
    &.main { height: 85vh; }
    &.overlay { height: 85vh; }
    &.sidebar { // changing the component you wish to view
      width: 100vh;
      height: 85vh;
    }  
  }
}

// Desktop Sizing
.desktop {

  .global {
    &.header { height: 10vh; }
    &.main { height: 90vh; }
  }

  .container {
    &.header { height: 10vh; }
    &.main { height: 80vh; }
    &.overlay { height: 80vh; }
    &.sidebar { // changing the component you wish to view
      width: 100vh;
      height: 80vh;
    }
  }

  .component {
    &.full { height: 90vh; }
    &.header { height: 10vh; }
    &.main { height: 80vh; }
    &.overlay { height: 80vh; }
    &.sidebar { // changing the component you wish to view
      width: 100vh;
      height: 80vh;
    }  
  }
}