/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
@import './themes.scss';
@import './images.scss';
@import './typography.scss';
@import './images.scss';
@import './layout.scss';

@import './colors/teal.scss';

@include mat-core($responsive-typograpy);

/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

/* layout */
.center-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
}