<div fxLayout="row wrap" fxLayoutAlign="center start" class="component main" fxLayoutGap="10px">
  <mat-card>
      <mat-card-header>
          <mat-card-title><strong><h1>Forgot Email / Password</h1></strong></mat-card-title>
          <mat-card-subtitle>reset your password using an email link</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <br>

      <mat-card-content>
          <app-form-group [config]="config" (submit)="formChanged($event)"></app-form-group>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!valid" (click)="sendResetEmail()">
          {{ emailSent === false ? 'Send Reset Email' : "Resend Reset Email" }}
        </button>
        <button mat-button routerLink="/user/login">back to login</button>
      </mat-card-actions>
  </mat-card>
</div>