<div ngClass.lt-sm="mobile" ngClass.gt-xs="desktop">
    <app-header></app-header>

    <div *ngIf="(optionsShowing$ | async) === true" class="global overlay"></div> 

    <main class="global main">
        <router-outlet></router-outlet> 
    </main>
</div>

